<!-- Navigation Bar -->
<div navigation-bar-event></div>
<div new-activity-modal></div>

<!-- Page Body -->
<h1>{{eventObjectName}}</h1>
<h5>{{eventObjectDate | date}}</h5>

<br/>
<br/>

<div ng-repeat="activity in activities">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{activity.name}}
				<p class="text-right" style="float:right">{{activity.start | date:'HH:mm'}} - {{activity.end | date:'HH:mm'}}</p>
			</h3>
			at {{activity.location}}
		</div>
		<div class="panel-body">
			{{activity.description}}
		</div>
	</div>
</div>
